:root {
    /* font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --brand-color: #0000EE;
    --text-color: #213547;
    --main-bg-color: #f8fafc;

    font-family: var(--system-ui);
    line-height: 1.5;
    font-weight: 400;

    color: var(--text-color);
    background-color: var(--main-bg-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: var(--brand-color);
    text-decoration: inherit;
}
a:hover {
    color: #172269;
}

body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
    /* background-image: url("./assets/pattern.png"); */
}

#app {
    width: 800px;
    max-width: 800px;
    margin: 0 auto;
    padding: 4rem 2rem;
}

h2 {
    font-size: 17px;
    font-weight: 500;
    line-height: 1.1;
    margin: 5px 6px;
}
